<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="myget" value="https://www.myget.org/F/nunit/api/v3/index.json" />
		<add key="local" value="packages" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
		<packageSource key="myget">
			<package pattern="NUnit.Cake.Recipe" />
		</packageSource>
		<packageSource key="local">
			<package pattern="NUnit.Engine.Api" />
		</packageSource>
	</packageSourceMapping>
</configuration>